*{
    margin: 0;
    padding: 0;
}

header
{
    background-image:linear-gradient( rgba(119, 79, 182, 0.363), rgb(177, 75, 75)),url(background.jpg);
    height: 100vh;
    background-size:cover;
    background-position:center;
}

.main-nav
{
    float : right;
    list-style:none;
    margin-top:30px;
    margin-right:10px;

}
.main-nav li
{
    display:inline-block;
}
.main-nav li a
{
    color:black;
    text-decoration: none;
    padding: 5px 20px;
    font-family:"roboto","sans-serif";
    font-size:15px;
}

.main-nav li.active a
{
    border: 2PX solid white;
}

.main-nav li a:hover
{
   border: 2px solid white; 
}

.hero
{
position: absolute;;    
width: 1200px;
margin-left:0px;
margin-right:0px;
}
h1
{
    color: white;
    text-transform: uppercase;
    font-size:70px;
    text-align: center;
    margin-top:275px;
}
.logo img
{
    width: 150PX;
    height: auto;
    float: left;

}
body{
    font-family: monospace;
}

.buttton
{
    margin-top: 30Px;
    margin-left: 440px;
    widows: 1200px;    
}
.btn
{
border:1px solid white;
padding :10px 10Px;
color:white;
text-decoration: none;
margin-right: 5px;
font-size:13px;
text-transform:uppercase;
}
.btn-one
{
    background-color: darkorange;
    font-family:"Robonto",sans-serif;
}
.btn-two 
{
    font-family:"Robonto",sans-serif;
    
}
.btn-two:hover
{
    background-color: darkorange;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}